{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% block style %}
<style>
    td {
        text-align: center !important;
    }
</style>
{% endblock style%}

{% block content %}
<div class="container-fluid">

    <div class="container-fluid">
        <!-- DataTales Example -->
        <div class="mb-4 shadow card">
            <div class="py-3 card-header">
                <div class="row">
                    <div class="col-8">
                        <h6 class="m-0 font-weight-bold" style="color: #fff;">Daftar LRPA</h6>
                    </div>
                    <div class="col-4 ">
                        <button class="btn btn-info btn-icon-split btn-sm float-right" data-toggle="modal" data-target="#skaiModal">
                            <span class="icon text-white-50">
                                <i class="fa-solid fa-arrow-pointer"></i>
                            </span>
                            <span class="text">LRPA Tahun</span>
                        </button>
                        <a href="{% url 'monev:monev-upload-lrpa' %}" class="btn btn-success btn-icon-split btn-sm float-right mr-1">
                            <span class="icon text-white-50">
                                <i class="fa-solid fa-file-arrow-up"></i>
                            </span>
                            <span class="text">Upload LRPA</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Filename</th>
                                <th>For Month</th>
                                <th>For Year</th>
                                <th>File Export Date</th>
                                <th>Upload Date</th>
                                <th>Upload By</th>
                            </tr>
                            
                        </thead>
                        <tbody>
                            {% for doc in lrpa %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{doc.lrpa_file}}</td>
                                <td>{{doc.for_month}}</td>
                                <td>{{doc.for_year}}</td>
                                <td>{{doc.file_export_date}}</td>
                                <td>{{doc.upload_date}}</td>
                                <td>{{doc.upload_by}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</div>


<!--Modal-->
<div class="modal fade" id="skaiModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">LRPA Tahun ke-</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="POST">
            {% csrf_token %}
            <div class="modal-body">
                <select class="form-select w-100" aria-label="Default select example" name="year">
                    <option selected disabled>Pilih tahun</option>
                    {% for y in year %}
                        <option value="{{y.year}}">{{y.year}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
      </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script>
    
</script>


{% endblock script %}