{% extends 'base.html' %}
{% load static %}

{% block style %}
<style>
    td {
        vertical-align: middle;
        text-align: center;
        color: #161616;
    }
    .text-uppercase{
        max-width: 230px;
    }
    .currency{
        text-align: right !important;
        min-width: 180px;
    }

    .currency::before{
        content: "Rp.";
        float: left;
        padding-right: 1px;
    }

    .total{
        font-weight: 700;
        color: #fff !important;
    }

    .tr-total{
        background-color: #161616;
    }

    .percentage::after{
        content: "%";
    }
</style>
{% endblock style%}

{% block content %}
<div class="container-fluid">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-bpo" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Monitoring Realisasi per BPO</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-prk" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Monitoring Realisasi per PRK</button>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-bpo" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
            <div class="mb-4 shadow card">
                <div class="py-3 card-header">
                    <div class="row">
                        <div class="col-8">
                            <h6 class="m-0 font-weight-bold" style="color: #fff;">Status Penyerapan Anggaran Investasi Berdasarkan BPO</h6>
                        </div>
                        <div class="col-4 ">
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" width="100%" cellspacing="0" id="BPO">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Bidang/Unit</th>
                                    <th>Kode BPO</th>
                                    <th>PRK Count</th>
                                    <th>AI</th>
                                    <th>AKI</th>
                                    <th>Realisasi</th>
                                    <th>Sisa Aki</th>
                                    <th>%</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for prk in BPO_list %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td class="text-left" style="max-width: 230px;">{{prk.0}}</td>
                                    <td>{{prk.1}}</td>
                                    <td>{{prk.7}}</td>
                                    <td class="currency">{{prk.2}}</td>
                                    <td class="currency">{{prk.3}}</td>
                                    <td class="currency">{{prk.4}}</td>
                                    <td class="currency">{{prk.5}}</td>
                                    <td class="percentage">{{prk.6|stringformat:".2f"}}</td>
                                </tr>
                                {% endfor %}
                                <tr class="tr-total">
                                    <td colspan="3" class="total">Total</td>
                                    <td class="total">{{count_bpo_total}}</td>
                                    <td class="currency total">{{total_ai_bpo}}</td>
                                    <td class="currency total">{{total_aki_bpo}}</td>
                                    <td class="currency total">{{total_realisasi_bpo}}</td>
                                    <td class="currency total">{{total_sisa_aki_bpo}}</td>
                                    <td class="percentage total">{{total_pct_bpo|stringformat:".2f"}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-prk" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
            <div class="mb-4 shadow card">
                <div class="py-3 card-header">
                    <div class="row">
                        <div class="col-8">
                            <h6 class="m-0 font-weight-bold" style="color: #fff;">Status Penyerapan Anggaran Investasi Berdasarkan PRK</h6>
                        </div>
                        <div class="col-4 ">
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>PRK</th>
                                    <th>Kode PRK</th>
                                    <th>PRK Count</th>
                                    <th>AI</th>
                                    <th>AKI</th>
                                    <th>Realisasi</th>
                                    <th>Sisa Aki</th>
                                    <th>%</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="bg-secondary">
                                    <td><strong>A.</strong></td>
                                    <td><strong>Pekerjaan. Prasarana</strong></td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                </tr>
                                {% for prk in A_list %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td class="text-left" style="max-width: 230px;">{{prk.0}}</td>
                                    <td>{{prk.1}}</td>
                                    <td>{{prk.7}}</td>
                                    <td class="currency">{{prk.2}}</td>
                                    <td class="currency">{{prk.3}}</td>
                                    <td class="currency">{{prk.4}}</td>
                                    <td class="currency">{{prk.5}}</td>
                                    <td class="percentage">{{prk.6|stringformat:".2f"}}</td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="3"><strong>Total A</strong></td>
                                    <td><strong>{{count_a_total}}</strong></td>
                                    <td class="currency"><strong>{{total_ai_a}}</strong></td>
                                    <td class="currency"><strong>{{total_aki_a}}</strong></td>
                                    <td class="currency"><strong>{{total_realisasi_a}}</strong></td>
                                    <td class="currency"><strong>{{total_sisa_aki_a}}</strong></td>
                                    <td class="percentage"><strong>{{total_pct_a|stringformat:".2f"}}</strong></td>
                                </tr>
                                <tr class="bg-secondary">
                                    <td><strong>B.</strong></td>
                                    <td><strong>Pekerjaan. Utama</strong></td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                </tr>
                                {% for prk in B_list %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td class="text-left" style="max-width: 230px;">{{prk.0}}</td>
                                    <td>{{prk.1}}</td>
                                    <td>{{prk.7}}</td>
                                    <td class="currency">{{prk.2}}</td>
                                    <td class="currency">{{prk.3}}</td>
                                    <td class="currency">{{prk.4}}</td>
                                    <td class="currency">{{prk.5}}</td>
                                    <td class="percentage">{{prk.6|stringformat:".2f"}}</td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="3"><strong>Total B</strong></td>
                                    <td><strong>{{count_b_total}}</strong></td>
                                    <td class="currency"><strong>{{total_ai_b}}</strong></td>
                                    <td class="currency"><strong>{{total_aki_b}}</strong></td>
                                    <td class="currency"><strong>{{total_realisasi_b}}</strong></td>
                                    <td class="currency"><strong>{{total_sisa_aki_b}}</strong></td>
                                    <td class="percentage"><strong>{{total_pct_b|stringformat:".2f"}}</strong></td>
                                </tr>
                                <tr class="bg-secondary">
                                    <td><strong>C.</strong></td>
                                    <td><strong>Pekerjaan. Lainnya</strong></td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                </tr>
                                {% for prk in C_list %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td class="text-left" style="max-width: 230px;">{{prk.0}}</td>
                                    <td>{{prk.1}}</td>
                                    <td>{{prk.7}}</td>
                                    <td class="currency">{{prk.2}}</td>
                                    <td class="currency">{{prk.3}}</td>
                                    <td class="currency">{{prk.4}}</td>
                                    <td class="currency">{{prk.5}}</td>
                                    <td class="percentage">{{prk.6|stringformat:".2f"}}</td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="3"><strong>Total C</strong></td>
                                    <td><strong>{{count_c_total}}</strong></td>
                                    <td class="currency"><strong>{{total_ai_c}}</strong></td>
                                    <td class="currency"><strong>{{total_aki_c}}</strong></td>
                                    <td class="currency"><strong>{{total_realisasi_c}}</strong></td>
                                    <td class="currency"><strong>{{total_sisa_aki_c}}</strong></td>
                                    <td class="percentage"><strong>{{total_pct_c|stringformat:".2f"}}</strong></td>
                                </tr>
                                <tr class="tr-total">
                                    <td colspan="3" class="total">Total</td>
                                    <td class="total">{{total_count_prk}}</td>
                                    <td class="currency total">{{total_ai_prk}}</td>
                                    <td class="currency total">{{total_aki_prk}}</td>
                                    <td class="currency total">{{total_realisasi_prk}}</td>
                                    <td class="currency total">{{total_sisa_aki_prk}}</td>
                                    <td class="percentage total">{{total_pct_prk|stringformat:".2f"}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<!-- <script>
    $(document).ready(function () {
        var table = $('#BPO').DataTable({
            "paging": true,
            dom: 'BQlfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
        });

    });
</script> -->
{% endblock script %}