<!--COPY FROM MACRO VIEW-->
{% extends 'base.html' %}
{% load static %}

{% block style %}
<style>
    td {
        vertical-align: middle;
        text-align: center;
        color: #161616;
        
    }

    .active-td {
        background: #449798 !important;
        color: aliceblue;
    }

    table#dataTableLKAI{
        background-color: #FCFCFC !important;
        border-spacing: 0;
        color: #161616;
        overflow: hidden;
    }

    table#dataTableLKAI>tbody>tr:hover {
        background-color: rgba(68, 151, 152, 0.1);
    }

    .cell-disabled{
        background-color: #CFD2CF;
        opacity: 0.2;
    }

    .currency{
        text-align: right !important;
        min-width: 160px;
    }

    .currency::before{
        content: "Rp.";
        float: left;
        padding-right: 4px;
    }

    .sum-cell{
        background-color: #161616;
        color: #FCFCFC;
        text-align: center !important;
    }

    .copy_container{
        display: flex;
        justify-content: space-between;
        top: 0px;
        left: 0px;
        width: 240px;
        padding: 20px 20px;
        font-size: 18px;
        color: #161616;
        border-radius: 8px 8px 0 0;
        cursor: pointer;
    }

    .copy{
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        opacity: 0.6;
        transition: all 0.1s ease;
    }

    .tooltip{
        position: absolute;
        top: 30px;
        left: -30px;
        background: #161616;
        padding: 10px 15px;
        display: flex;
        justify-content: center;
        color: #fff;
        font-size: 14px;
        border-radius: 4px;
        letter-spacing: 1px;
        opacity: 0;
    }

    .tooltip.appear {
        animation: appear 1s ease;
    }

    @keyframes appear {
        0% {
            opacity: 0;
        }
        20% {
            transform: translateY(10px);
            opacity: 1;
        }
        80% {
            transform: translateY(0px);
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
</style>
{% endblock style%}

{% block content %}
<div class="container-fluid">

    <div class="container-fluid">
    
        <div class="row" id="div-1">
        </div>
        <!-- DataTales Example -->
        <div class="mb-4 shadow card">
            <div class="py-3 card-header">
                <div class="row">
                    <div class="col-8">
                        <h6 class="m-0 font-weight-bold" style="color: #fff;">Monev LKAI</h6>
                    </div>
                    <div class="col-4 ">
                        <button class="btn btn-info btn-icon-split btn-sm float-right" data-toggle="modal" data-target="#dataSource">
                            <span class="icon text-white-50">
                                <i class="fa-solid fa-arrow-pointer"></i>
                            </span>
                            <span class="text">View Data Source</span>
                        </button>
                        <!-- <a href="{% url 'monev:monev-upload-lrpa' %}" class="btn btn-success btn-icon-split btn-sm float-right mr-1">
                            <span class="icon text-white-50">
                                <i class="fa-solid fa-file-arrow-up"></i>
                            </span>
                            <span class="text">Upload LRPA</span>
                        </a> -->
                    </div>
                </div>
            </div>
            <div class="col m-0 p-0">
                
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table" id="dataTableMonev" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <td style="visibility: hidden;"></td>
                                <td style="visibility: hidden;"></td>
                                <td style="visibility: hidden;"></td>
                                <td style="visibility: hidden;"></td>
                                <td style="visibility: hidden;"></td>
                                <td class="sum-cell" id="total_ai_1"></td>
                                <td class="sum-cell" id="total_aki_1"></td>
                                <td></td>
                                <td></td>
                                <td class="sum-cell" id="total_ai_3"></td>
                                <td class="sum-cell" id="total_aki_3"></td>
                                <td class="sum-cell" id="total_ai_lrpa"></td>
                                <td class="sum-cell" id="total_aki_lrpa"></td>
                                <td class="sum-cell" id="jan_akb"></td>
                                <td class="sum-cell" id="jan_real"></td>
                                <td class="sum-cell" id="feb_akb"></td>
                                <td class="sum-cell" id="feb_real"></td>
                                <td class="sum-cell" id="mar_akb"></td>
                                <td class="sum-cell" id="mar_real"></td>
                                <td class="sum-cell" id="apr_akb"></td>
                                <td class="sum-cell" id="apr_real"></td>
                                <td class="sum-cell" id="mei_akb"></td>
                                <td class="sum-cell" id="mei_real"></td>
                                <td class="sum-cell" id="jun_akb"></td>
                                <td class="sum-cell" id="jun_real"></td>
                                <td class="sum-cell" id="jul_akb"></td>
                                <td class="sum-cell" id="jul_real"></td>
                                <td class="sum-cell" id="aug_akb"></td>
                                <td class="sum-cell" id="aug_real"></td>
                                <td class="sum-cell" id="sep_akb"></td>
                                <td class="sum-cell" id="sep_real"></td>
                                <td class="sum-cell" id="okt_akb"></td>
                                <td class="sum-cell" id="okt_real"></td>
                                <td class="sum-cell" id="nov_akb"></td>
                                <td class="sum-cell" id="nov_real"></td>
                                <td class="sum-cell" id="des_akb"></td>
                                <td class="sum-cell" id="des_real"></td>
                                <td class="sum-cell" id="total_realisasi"></td>
                                <td class="sum-cell" id="sisa_aki"></td>
                            </tr>
                            <tr>
                                <th rowspan="2">No</th>
                                <th rowspan="2">No PRK</th>
                                <th rowspan="2">Program Utama/Proyek</th>
                                <th rowspan="2">Uraian Kegiatan</th>
                                <th rowspan="2">Status</th>
                                <th colspan="2">SKAI Tahun 2022</th>
                                <th colspan="2">SKAI Revisi 1 Tahun 2022</th>
                                <th colspan="2">SKAI Revisi 2 Tahun 2022</th>
                                <th colspan="2">LRPA {{document.2.file_export_date}}</th>
                                <th colspan="25">Rencana/Realisasi 2022</th>
                                <th rowspan="2">Sisa AKI</th>
                                <th rowspan="2">Kode PRK</th>
                                <th rowspan="2">Kode BPO</th>
                                <th rowspan="2">Rekap User Induk</th>
                                <th rowspan="2">Sumber Dana</th>
                                <th rowspan="2">Mekanisme Pembayaran</th>
                            </tr>
                            <tr>
                                <th>AI</th>
                                <th>AKI</th>
                                <th>AI</th>
                                <th>AKI</th>
                                <th>AI</th>
                                <th>AKI</th>
                                <th>AI</th>
                                <th>AKI</th>

                                <th>AKB Januari</th>
                                <th>Januari</th>
                                <th>AKB Februari</th>
                                <th>Februari</th>
                                <th>AKB Maret</th>
                                <th>Maret</th>
                                <th>AKB April</th>
                                <th>April</th>
                                <th>AKB Mei</th>
                                <th>Mei</th>
                                <th>AKB Juni</th>
                                <th>Juni</th>
                                <th>AKB Juli</th>
                                <th>Juli</th>
                                <th>AKB Agustus</th>
                                <th>Agustus</th>
                                <th>AKB September</th>
                                <th>September</th>
                                <th>AKB Oktober</th>
                                <th>Oktober</th>
                                <th>AKB November</th>
                                <th>November</th>
                                <th>AKB Desember</th>
                                <th>Desember</th>
                                <th>Total Realisasi</th>
                            </tr>
                            
                        </thead>
                        <tbody id="macro-table" class="table-group-divider">
                            {% for d in data %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td style="position:relative;">
                                    <div id="id-{{d.0.pk}}" class="copy_container">
                                        {% if d.0 %}
                                        <p style="margin: auto;">{{d.0.no_prk}}</p>
                                        {% else %}
                                        <p style="margin: auto;">{{d.1.no_prk}}</p>
                                        {% endif %}
                                        <div id="copy-{{d.0.pk}}" class="copy">
                                            <span class="tooltip">Copied PRK Number</span>
                                            <i class="material-icons">content_copy</i>
                                        </div>
                                    </div>
                                </td>

                                {% if d.0 %}
                                <td style="min-width: 200px; text-align: justify;">{{d.0.program_utama}}</td>
                                {% else %}
                                <td style="min-width: 200px; text-align: justify;">{{d.1.program_utama}}</td>
                                {% endif %}

                                {% if d.0 %}
                                <td style="min-width: 400px; text-align: justify;">{{d.0.keg_uraian}}</td>
                                {% else %}
                                <td style="min-width: 400px; text-align: justify;">{{d.1.keg_uraian}}</td>
                                {% endif %}

                                {% if d.0 %}
                                <td>{{d.0.ang_status}}</td>
                                {% else %}
                                <td>{{d.1.ang_status}}</td>
                                {% endif %}

                                {% if d.0.ai_this_year %}
                                <td class="currency" >{{d.0.real_ai}}</td>
                                {% else %}
                                <td class="cell-disabled" > - </td>
                                {% endif %}

                                {% if d.0.aki_this_year %}
                                <td class="currency" >{{d.0.real_aki}}</td>
                                {% else %}
                                <td class="cell-disabled" > - </td>
                                {% endif %}

                                <td style="min-width: 140px;" ></td>
                                <td style="min-width: 140px;" ></td>

                                {% if d.1.ai_this_year %}
                                <td class="currency" >{{d.1.real_ai}}</td>
                                {% else %}
                                <td class="cell-disabled" > - </td>
                                {% endif %}

                                {% if d.1.aki_this_year %}
                                <td class="currency" >{{d.1.real_aki}}</td>
                                {% else %}
                                <td class="cell-disabled" > - </td>
                                {% endif %}

                                {% if d.2.ai_this_year != 0 %}
                                <td class="currency">{{d.2.real_ai}}</td>
                                {% else %}
                                <td class="cell-disabled"> - </td>
                                {% endif %}

                                {% if d.2.aki_this_year != 0 %}
                                <td class="currency">{{d.2.real_aki}}</td>
                                {% else %}
                                <td class="cell-disabled"> - </td>
                                {% endif %}

                                {% if d.2.jan_rencana_disburse != "0" %}
                                <td class="currency">{{d.2.jan_rencana_disburse|floatformat}}</td>
                                {% else %}
                                <td class="cell-disabled"> - </td>
                                {% endif %}

                                {% if d.2.jan_realisasi_disburse != "0" %}
                                <td class="currency">{{d.2.jan_realisasi_disburse|floatformat}}</td>
                                {% else %}
                                <td class="cell-disabled"> - </td>
                                {% endif %}

                                {% if d.2.feb_rencana_disburse != "0" %}
                                <td class="currency">{{d.2.feb_rencana_disburse|floatformat}}</td>
                                {% else %}
                                <td class="cell-disabled"> - </td>
                                {% endif %}

                                {% if d.2.feb_realisasi_disburse != "0" %}
                                <td class="currency">{{d.2.feb_realisasi_disburse|floatformat}}</td>
                                {% else %}
                                <td class="cell-disabled"> - </td>
                                {% endif %}

                                {% if d.2.mar_rencana_disburse != "0" %}
                                <td class="currency">{{d.2.mar_rencana_disburse|floatformat}}</td>
                                {% else %}
                                <td class="cell-disabled"> - </td>
                                {% endif %}

                                {% if d.2.mar_realisasi_disburse != "0" %}
                                <td class="currency">{{d.2.mar_realisasi_disburse|floatformat}}</td>
                                {% else %}
                                <td class="cell-disabled"> - </td>
                                {% endif %}

                                {% if d.2.apr_rencana_disburse != "0" %}
                                <td class="currency">{{d.2.apr_rencana_disburse|floatformat}}</td>
                                {% else %}
                                <td class="cell-disabled"> - </td>
                                {% endif %}

                                {% if d.2.apr_realisasi_disburse != "0" %}
                                <td class="currency">{{d.2.apr_realisasi_disburse|floatformat}}</td>
                                {% else %}
                                <td class="cell-disabled"> - </td>
                                {% endif %}

                                {% if d.2.mei_rencana_disburse != "0" %}
                                <td class="currency">{{d.2.mei_rencana_disburse|floatformat}}</td>
                                {% else %}
                                <td class="cell-disabled"> - </td>
                                {% endif %}

                                {% if d.2.mei_realisasi_disburse != "0" %}
                                <td class="currency">{{d.2.mei_realisasi_disburse|floatformat}}</td>
                                {% else %}
                                <td class="cell-disabled"> - </td>
                                {% endif %}

                                {% if d.2.jun_rencana_disburse != "0" %}
                                <td class="currency">{{d.2.jun_rencana_disburse|floatformat}}</td>
                                {% else %}
                                <td class="cell-disabled"> - </td>
                                {% endif %}

                                {% if d.2.jun_realisasi_disburse != "0" %}
                                <td class="currency">{{d.2.jun_realisasi_disburse|floatformat}}</td>
                                {% else %}
                                <td class="cell-disabled"> - </td>
                                {% endif %}

                                {% if d.2.jul_rencana_disburse != "0" %}
                                <td class="currency">{{d.2.jul_rencana_disburse|floatformat}}</td>
                                {% else %}
                                <td class="cell-disabled"> - </td>
                                {% endif %}

                                {% if d.2.jul_realisasi_disburse != "0" %}
                                <td class="currency">{{d.2.jul_realisasi_disburse|floatformat}}</td>
                                {% else %}
                                <td class="cell-disabled"> - </td>
                                {% endif %}

                                {% if d.2.aug_rencana_disburse != "0" %}
                                <td class="currency">{{d.2.aug_rencana_disburse|floatformat}}</td>
                                {% else %}
                                <td class="cell-disabled"> - </td>
                                {% endif %}

                                {% if d.2.aug_realisasi_disburse != "0" %}
                                <td class="currency">{{d.2.aug_realisasi_disburse|floatformat}}</td>
                                {% else %}
                                <td class="cell-disabled"> - </td>
                                {% endif %}

                                {% if d.2.sep_rencana_disburse != "0" %}
                                <td class="currency">{{d.2.sep_rencana_disburse|floatformat}}</td>
                                {% else %}
                                <td class="cell-disabled"> - </td>
                                {% endif %}

                                {% if d.2.sep_realisasi_disburse != "0" %}
                                <td class="currency">{{d.2.sep_realisasi_disburse|floatformat}}</td>
                                {% else %}
                                <td class="cell-disabled"> - </td>
                                {% endif %}

                                {% if d.2.okt_rencana_disburse != "0" %}
                                <td class="currency">{{d.2.okt_rencana_disburse|floatformat}}</td>
                                {% else %}
                                <td class="cell-disabled"> - </td>
                                {% endif %}

                                {% if d.2.okt_realisasi_disburse != "0" %}
                                <td class="currency">{{d.2.okt_realisasi_disburse|floatformat}}</td>
                                {% else %}
                                <td class="cell-disabled"> - </td>
                                {% endif %}

                                {% if d.2.nov_rencana_disburse != "0" %}
                                <td class="currency">{{d.2.nov_rencana_disburse|floatformat}}</td>
                                {% else %}
                                <td class="cell-disabled"> - </td>
                                {% endif %}

                                {% if d.2.nov_realisasi_disburse != "0" %}
                                <td class="currency">{{d.2.nov_realisasi_disburse|floatformat}}</td>
                                {% else %}
                                <td class="cell-disabled"> - </td>
                                {% endif %}

                                {% if d.2.des_rencana_disburse != "0" %}
                                <td class="currency">{{d.2.des_rencana_disburse|floatformat}}</td>
                                {% else %}
                                <td class="cell-disabled"> - </td>
                                {% endif %}

                                {% if d.2.des_realisasi_disburse != "0" %}
                                <td class="currency">{{d.2.des_realisasi_disburse|floatformat}}</td>
                                {% else %}
                                <td class="cell-disabled"> - </td>
                                {% endif %}

                                {% if d.3 != 0 %}
                                <td class="currency">{{d.3}}</td>
                                {% else %}
                                <td class="cell-disabled"> - </td>
                                {% endif %}

                                {% if d.4 != 0 %}
                                <td class="currency">{{d.4}}</td>
                                {% else %}
                                <td class="cell-disabled"> - </td>
                                {% endif %}

                                <td></td>
                                <td></td>
                                <td></td>

                                {% if d.0 %}
                                <td>{{d.0.sumber_dana}}</td>
                                {% else %}
                                <td>{{d.1.sumber_dana}}</td>
                                {% endif %}
                                

                                {% if d.2.mekanisme_pembayaran %}
                                <td>{{d.2.mekanisme_pembayaran}}</td>
                                {% else %}
                                <td class="cell-disabled" > - </td>
                                {% endif %}
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    
</div>

<!-- Modal Data Source -->
<div class="modal fade" id="dataSource" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Data Source</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>File</th>
                            <th>Name/Keyword</th>
                            <th>Tanggal Dokumen/File</th>
                            <th style="background-color: #161616 !important;">Tanggal Upload</th>
                            <th style="background-color: #161616 !important;">Diupload oleh</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>SKAI</td>
                            <td><a href="{% url 'document:doc-view-lkai' document.0.pk %}">{{document.0.keyword}}</a></td>
                            <td>{{document.0.document.published_date}}</td>
                            <td>{{document.0.document.upload_date}}</td>
                            <td>{{document.0.document.uploader}}</td>
                        </tr>
                        <tr>
                            <td>SKAI</td>
                            <td><a href="{% url 'document:doc-view-lkai' document.1.pk %}">{{document.1.keyword}}</a></td>
                            <td>{{document.1.document.published_date}}</td>
                            <td>{{document.1.document.upload_date}}</td>
                            <td>{{document.1.document.uploader}}</td>
                        </tr>
                        <tr>
                            <td>LRPA</td>
                            <td>LRPA bulan : {{document.2.for_month}}</td>
                            <td>{{document.2.file_export_date}}</td>
                            <td>{{document.2.upload_date}}</td>
                            <td>{{document.2.upload_by}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
        
      </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script>
    $(document).ready(function () {
        var table = $('#dataTableMonev').DataTable({
            scrollY: 600,
            scrollX: "100%",
            paging: true,
            keys: true,
            "paging": true,
            dom: 'Qlfrtip',
            drawCallback: function(){
                var api = this.api();
                var intVal = function (i) {
                    return parseInt(i) || 0;
                };
                
                function myFunc(total, num) {
                    return intVal(total) + intVal(num);
                }
                var data_ai_1 = api.column(5, {search: 'applied'}).data();
                var data_aki_1 = api.column(6, {search: 'applied'}).data();

                var data_ai_3 = api.column(9, {search: 'applied'}).data();
                var data_aki_3 = api.column(10, {search: 'applied'}).data();
                var ai_lrpa = api.column(11, {search: 'applied'}).data();
                var aki_lrpa = api.column(12, {search: 'applied'}).data();

                var jan_akb = api.column(13, {search: 'applied'}).data();
                var jan_real = api.column(14, {search: 'applied'}).data();
                var feb_akb = api.column(15, {search: 'applied'}).data();
                var feb_real = api.column(16, {search: 'applied'}).data();
                var mar_akb = api.column(17, {search: 'applied'}).data();
                var mar_real = api.column(18, {search: 'applied'}).data();
                var apr_akb = api.column(19, {search: 'applied'}).data();
                var apr_real = api.column(20, {search: 'applied'}).data();
                var mei_akb = api.column(21, {search: 'applied'}).data();
                var mei_real = api.column(22, {search: 'applied'}).data();
                var jun_akb = api.column(23, {search: 'applied'}).data();
                var jun_real = api.column(24, {search: 'applied'}).data();
                var jul_akb = api.column(25, {search: 'applied'}).data();
                var jul_real = api.column(26, {search: 'applied'}).data();
                var aug_akb = api.column(27, {search: 'applied'}).data();
                var aug_real = api.column(28, {search: 'applied'}).data();
                var sep_akb = api.column(29, {search: 'applied'}).data();
                var sep_real = api.column(30, {search: 'applied'}).data();
                var okt_akb = api.column(31, {search: 'applied'}).data();
                var okt_real = api.column(32, {search: 'applied'}).data();
                var nov_akb = api.column(33, {search: 'applied'}).data();
                var nov_real = api.column(34, {search: 'applied'}).data();
                var des_akb = api.column(35, {search: 'applied'}).data();
                var des_real = api.column(36, {search: 'applied'}).data();

                var total_realisasi = api.column(37, {search: 'applied'}).data();
                var sisa_aki = api.column(38, {search: 'applied'}).data();

                //alert( Object.keys(data_ai_1).length );

                var listColumn = [data_ai_1, data_aki_1, data_ai_3, data_aki_3, ai_lrpa, aki_lrpa, jan_akb, jan_real, 
                feb_akb, feb_real, mar_akb, mar_real, apr_akb, apr_real, mei_akb, mei_real, jun_akb, jun_real, jul_akb, jul_real,
                aug_akb, aug_real, sep_akb, sep_real, okt_akb, okt_real, nov_akb, nov_real, des_akb, des_real, total_realisasi, sisa_aki]

                var reduceColumn = []
                for (var obj in listColumn){
                    var data = listColumn[obj];
                    //console.log(data);
                    Object.keys(data).forEach(function(key){
                        if(typeof data[key] === 'string'){
                            data[key] = intVal(data[key].replaceAll(',',''))
                        }
                    })
                    reduceColumn.push(data.reduce(myFunc))
                }

                console.log(reduceColumn);

                $('#total_ai_1').html(Number(reduceColumn[0]).toLocaleString('id'));
                $('#total_aki_1').html(Number(reduceColumn[1]).toLocaleString('id'));
                $('#total_ai_3').html(Number(reduceColumn[2]).toLocaleString('id'));
                $('#total_aki_3').html(Number(reduceColumn[3]).toLocaleString('id'));
                $('#total_ai_lrpa').html(Number(reduceColumn[4]).toLocaleString('id'));
                $('#total_aki_lrpa').html(Number(reduceColumn[5]).toLocaleString('id'));
                $('#jan_akb').html(Number(reduceColumn[6]).toLocaleString('id'));
                $('#jan_real').html(Number(reduceColumn[7]).toLocaleString('id'));
                $('#feb_akb').html(Number(reduceColumn[8]).toLocaleString('id'));
                $('#feb_real').html(Number(reduceColumn[9]).toLocaleString('id'));
                $('#mar_akb').html(Number(reduceColumn[10]).toLocaleString('id'));
                $('#mar_real').html(Number(reduceColumn[11]).toLocaleString('id'));
                $('#apr_akb').html(Number(reduceColumn[12]).toLocaleString('id'));
                $('#apr_real').html(Number(reduceColumn[13]).toLocaleString('id'));
                $('#mei_akb').html(Number(reduceColumn[14]).toLocaleString('id'));
                $('#mei_real').html(Number(reduceColumn[15]).toLocaleString('id'));
                $('#jun_akb').html(Number(reduceColumn[16]).toLocaleString('id'));
                $('#jun_real').html(Number(reduceColumn[17]).toLocaleString('id'));
                $('#jul_akb').html(Number(reduceColumn[18]).toLocaleString('id'));
                $('#jul_real').html(Number(reduceColumn[19]).toLocaleString('id'));
                $('#aug_akb').html(Number(reduceColumn[20]).toLocaleString('id'));
                $('#aug_real').html(Number(reduceColumn[21]).toLocaleString('id'));
                $('#sep_akb').html(Number(reduceColumn[22]).toLocaleString('id'));
                $('#sep_real').html(Number(reduceColumn[23]).toLocaleString('id'));
                $('#okt_akb').html(Number(reduceColumn[24]).toLocaleString('id'));
                $('#okt_real').html(Number(reduceColumn[25]).toLocaleString('id'));
                $('#nov_akb').html(Number(reduceColumn[26]).toLocaleString('id'));
                $('#nov_real').html(Number(reduceColumn[27]).toLocaleString('id'));
                $('#des_akb').html(Number(reduceColumn[28]).toLocaleString('id'));
                $('#des_real').html(Number(reduceColumn[29]).toLocaleString('id'));
                $('#total_realisasi').html(Number(reduceColumn[30]).toLocaleString('id'));
                $('#sisa_aki').html(Number(reduceColumn[31]).toLocaleString('id'));

                
            }
        });

        $.fn.dataTable.tables( { visible: true, api: true } ).scroller.measure();
 
    });
</script>

<script>
    $("[id^=copy-").on("click", function(e){
        e.preventDefault();

        //find the number of the parent
        let num = $(this).parent().attr("id").slice("id-".length);
        //let elem = $("#id-" + num);
        let elem = document.getElementById("id-"+num);
        
        //copy the text
        let $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(elem).children(":first").text()).select();
        document.execCommand("copy");
        
        $temp.remove();

        $(this).children(".tooltip").addClass("appear").delay(1000).queue(function( next ){
            $(this).removeClass("appear"); 
            $(this).dequeue();
        });
    });
</script>
{% endblock script %}