{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% block style %}
<style>
    td {
        vertical-align: middle;
        text-align: center;
        color: #161616;
        
    }
</style>
{% endblock style%}

{% block content %}
<div class="container-fluid">
    <div class="mb-4 shadow card">
        <div class="py-3 card-header">
            <div class="row">
                <div class="col-8">
                    <h6 class="m-0 font-weight-bold" style="color: #fff;">PRK Reference Lookup</h6>
                </div>
                <div class="col-4 ">
                    <!-- <button class="btn btn-info btn-icon-split btn-sm float-right" data-toggle="modal" data-target="#dataSource">
                        <span class="icon text-white-50">
                            <i class="fa-solid fa-arrow-pointer"></i>
                        </span>
                        <span class="text">View Data Source</span>
                    </button> -->
                    <button class="btn btn-primary btn-icon-split btn-sm float-right" data-toggle="modal" data-target="#addData">
                        <span class="icon text-white-50">
                            <i class="fas fa-plus-square"></i>
                        </span>
                        <span class="text">Add Data</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTableReference" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>No PRK</th>
                            <th>Kode PRK</th>
                            <th>Kode BPO</th>
                            <th>UPP</th>
                            <th>Rekap User Induk</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for d in data %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{d.no_prk}}</td>

                            {% if d.kode_prk %}
                            <td>{{d.kode_prk}}</td>
                            {% else %}
                            <td> - </td>
                            {% endif %}
                            
                            {% if d.kode_bpo %}
                            <td>{{d.kode_bpo}}</td>
                            {% else %}
                            <td> - </td>
                            {% endif %}

                            {% if d.upp %}
                            <td>{{d.upp}}</td>
                            {% else %}
                            <td> - </td>
                            {% endif %}

                            {% if d.rekap_user_induk %}
                            <td>{{d.rekap_user_induk}}</td>
                            {% else %}
                            <td> - </td>
                            {% endif %}

                            <td>
                                <button id="edit-{{d.pk}}" class="btn btn-outline-warning btn-icon-split btn-sm" data-toggle="modal" data-target="edit-{{d.pk}}">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-edit"></i>
                                    </span>
                                    <span class="text">Edit</span>
                                </button>
                            </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
</div>
<!-- Modal ADD Data -->
<div class="modal fade" id="addData" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Add Data</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="formGroupExampleInput">No PRK</label>
                        <input type="text" class="form-control" name="no_prk" id="formGroupExampleInput"/>
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Tahun</label>
                        <input type="text" class="form-control" name="kode_prk" id="formGroupExampleInput" />
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Kode BPO</label>
                        <input type="text" class="form-control" name="kode_bpo" id="formGroupExampleInput" />
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">UPP</label>
                        <input type="text" class="form-control" name="upp" id="formGroupExampleInput" />
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Rekap User Induk</label>
                        <input type="text" class="form-control" name="rekap_user_induk" id="formGroupExampleInput" />
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
      </div>
    </div>
</div>

<!-- Modal Edit Data -->
{% for d in data %}
<div class="modal fade" id="edit-{{d.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Edit Data</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="formGroupExampleInput">No PRK</label>
                        <input type="text" class="form-control" name="no_prk" id="formGroupExampleInput" value="{{d.no_prk}}"/>
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Tahun</label>
                        <input type="text" class="form-control" name="kode_prk" id="formGroupExampleInput" value="{{d.kode_prk}}"/>
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Kode BPO</label>
                        <input type="text" class="form-control" name="kode_bpo" id="formGroupExampleInput" value="{{d.kode_bpo}}"/>
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">UPP</label>
                        <input type="text" class="form-control" name="upp" id="formGroupExampleInput" value="{{d.upp}}"/>
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Rekap User Induk</label>
                        <input type="text" class="form-control" name="rekap_user_induk" id="formGroupExampleInput" />
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
      </div>
    </div>
</div>
{% endfor %}
{% endblock content %}

{% block script %}
<script>
    $(document).ready(function () {
        var table = $('#dataTableReference').DataTable({
            paging: true,
            //keys: true,
            "paging": true,
            dom: 'Qlfrtip',
        });
    });
</script>

{% endblock script %}