{% block style %}

{% endblock style %}

<nav class="mb-4 bg-white shadow navbar navbar-expand navbar-light topbar static-top">
    <!-- Topbar Navbar -->
    <ul class="mr-auto navbar-nav">
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="#" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline small header-info">{% now "jS F Y " %}</span>
            </a>
        </li>
        <div class="topbar-divider d-none d-sm-block"></div>
    </ul>
    <ul class="ml-auto navbar-nav">
        
        <!-- Nav Item - User Information -->
        
        <li class="icons dropdown d-none d-md-flex">
            <div class="d-flex notifications-icon-container rounded-circle align-items-center ml-2" id="id_notification_dropdown_toggle" data-toggle="dropdown" onclick="setGeneralNotificationsAsRead()">
                <span id="id_general_notifications_count" class="badge badge-pill gradient-2 badge-primary"></span>
                <span class="d-flex material-icons notifications-material-icon m-auto align-items-center">notifications_none</span>
                <div class="dropdown-menu scrollable-menu" aria-labelledby="id_notification_dropdown_toggle" id="id_general_notifications_container" style="min-width: 23rem; max-height: 500px; overflow-y: auto; left: -300% !important;">                                       
                </div>
            </div>
        </li>

        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="header-info mr-2 d-none d-lg-inline small">{{request.user.name}}</span>
                <span class="header-info mr-2 d-none d-lg-inline small">-</span>
                <span class="header-info mr-2 d-none d-lg-inline small">{{request.user.division}}</span>
                <div class="header-info img-profile rounded-circle">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-check-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                        <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </svg>
                </div>
            </a>
            <!-- Dropdown - User Information -->
            <div class="shadow dropdown-menu dropdown-menu-right animated--grow-in"
                aria-labelledby="userDropdown">
                
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="mr-2 text-danger fas fa-sign-out-alt fa-sm fa-fw"></i>
                    Logout
                </a>
            </div>
        </li>

    </ul>

</nav>