{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">

    <div class="container-fluid">

        <!-- Page Heading -->
        
        
        <div class="row" id="div-1">
            <div class="col">
                <h1 class="mb-2 text-gray-800 h3">Search Dummy</h1>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="formGroupExampleInput" >Tahun</label>
                        <select class="custom-select mr-sm-2" name="year" id="selectYear">
                            <option disabled selected>Year</option>
                            {% for y in year %}
                                <option value={{y.year}}>{{y.year}}</option>
                            {% endfor %}
                        </select>
                        </div>
                    <div class="form-group">
                        <label class="mr-sm-2" for="inlineFormCustomSelect">Status</label>
                        <select class="custom-select mr-sm-2" name="status" id="inlineFormCustomSelect">
                            <option disabled selected>Status</option>
                            <option value="Main">Main</option>
                            <option value="Revisi-1">Revisi-1</option>
                            <option value="Revisi-2">Revisi-2</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary mb-3" >Search</button>
                </form>
            </div>
            <div class="col">
                <table class="table">
                    <tbody>
                      <tr>
                        <th>Date Uploaded</th>
                        <td>{{dummy_file.date_uploaded}}</td>
                      </tr>
                      <tr>
                        <th>Upload By</th>
                        <td>{{dummy_file.uploader.name}}</td>
                      </tr>
                      <tr>
                        <th>Period</th>
                        <td>{{dummy_file.period}}</td>
                      </tr>
                      <tr>
                        <th>Year</th>
                        <td>{{dummy_file.year}}</td>
                      </tr>
                      <tr>
                        <th>Status</th>
                        <td>{{dummy_file.status}}</td>
                      </tr>
                      <tr>
                        <th>Notes</th>
                        <td>{{dummy_file.notes}}</td>
                      </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
        <div class="row" id="div-2">
            <div class="col-12">
                <button id="to-hide" class="btn btn-primary mb-3 w-100" >Hide <span><i class="fa-solid fa-angles-up"></i></span></button>
            </div>
        </div>
        <div class="row d-none" id="div-3">
            <div class="col-12">
                <button id="to-unhide" class="btn btn-primary mb-3 w-100" >Search <span><i class="fa-solid fa-magnifying-glass"></i></span></button>
            </div>
        </div>
        <!-- DataTales Example -->
        <div class="mb-4 shadow card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Field1</th>
                                <th>Field2</th>
                                <th>Field3</th>
                                <th>Field4</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Field1</th>
                                <th>Field2</th>
                                <th>Field3</th>
                                <th>Field4</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for dummy in dummys %}
                            <tr>
                                <td>{{dummy.name}}</td>
                                <td>{{dummy.field1}}</td>
                                <td>{{dummy.field2}}</td>
                                <td>{{dummy.field3}}</td>
                                <td>{{dummy.field4}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    
</div>
{% endblock content %}

{% block script %}
<script>
    $('#to-hide').click(function() {
        $('#div-1').addClass("d-none");
        $('#div-2').addClass("d-none");
        $('#div-3').removeClass("d-none");
    });

    $('#to-unhide').click(function() {
        $('#div-1').removeClass("d-none");
        $('#div-2').removeClass("d-none");
        $('#div-3').addClass("d-none");
    });
</script>

{% endblock script %}