{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">

    <!-- Content Row -->
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="mb-4 d-sm-flex align-items-center justify-content-between">
                    <h1 class="mb-0 text-gray-800 h3">Upload Dummy File</h1>
                </div>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="formGroupExampleInput">Periode</label>
                        <input type="text" class="form-control" name="period" id="formGroupExampleInput" placeholder="Periode" value="Setahun" readonly>
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Tahun</label>
                        <input type="number" class="form-control" name="year" id="formGroupExampleInput" min="1900" max="2099" step="1" value="2016" />
                    </div>
                    <div class="form-group">
                        <label class="mr-sm-2" for="inlineFormCustomSelect">Status</label>
                        <select class="custom-select mr-sm-2" name="status" id="inlineFormCustomSelect">
                            <option disabled selected>Status</option>
                            <option value="Main">Main</option>
                            <option value="Revisi-1">Revisi-1</option>
                            <option value="Revisi-2">Revisi-2</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Notes</label>
                        <input type="text" class="form-control" name="notes" id="formGroupExampleInput" placeholder="Notes">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="customFile">File</label>
                        <input type="file" class="form-control" name="myfile" id="customFile" />
                    </div>
                    <button type="submit" class="btn btn-primary mb-3" >Upload</button>
                </form>
            </div>
            <div class="col">
                <div class="py-3 card-header">
                    <h6 class="m-0 font-weight-bold text-primary">LKAI File Upload History</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>File Name</th>
                                    <th>Date Uploaded</th>
                                    <th>Upload By</th>
                                    <th>Periode</th>
                                    <th>Tahun</th>
                                    <th>Status</th>
                                    <th>Notes</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>No</th>
                                    <th>File Name</th>
                                    <th>Date Uploaded</th>
                                    <th>Upload By</th>
                                    <th>Periode</th>
                                    <th>Tahun</th>
                                    <th>Status</th>
                                    <th>Notes</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for dummyfile in dummyfiles %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{dummyfile.filename}}</td>
                                    <td>{{dummyfile.date_uploaded}}</td>
                                    <td>{{dummyfile.uploader.name}}</td>
                                    <td>{{dummyfile.period}}</td>
                                    <td>{{dummyfile.year}}</td>
                                    <td>{{dummyfile.status}}</td>
                                    <td>{{dummyfile.notes}}</td>
                                    <td>
                                        <button type="button" id="{{dummyfile.id}}" class="btn btn-primary btn-block">View</button>
                                        <button type="button" id="{{dummyfile.id}}" class="btn btn-danger btn-block">Delete</button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock content %}