{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="mb-4 d-sm-flex align-items-center justify-content-between">
        <h1 class="mb-0 text-gray-800 h3">Upload Dummy File</h1>
    </div>

    <!-- Content Row -->
    <div class="row">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="myfile">
            <button type="submit">Upload</button>
        </form>
    </div>
    
</div>
{% endblock content %}