{% extends 'base.html' %}
{% load static %}

{% block style %}
<style>
    td {
        vertical-align: middle;
        text-align: center;
        color: #161616;
    }
    .currency{
        text-align: right !important;
        min-width: 160px;
    }

    .currency::before{
        content: "Rp.";
        float: left;
        padding-right: 4px;
    }
    .percentage::after{
        content: "%";
    }
    .total{
        font-weight: 700;
        color: #fff !important;
    }

    .tr-total{
        background-color: #161616;
    }
</style>
{% endblock style %}

{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="mb-4 d-sm-flex align-items-center justify-content-between">
        <h1 class="mb-0 text-gray-800 h3">Dashboard</h1>
    </div>

    
        <div class="mb-4 shadow card">
            <div class="py-3 card-header">
                <div class="row">
                    <div class="col-8">
                        <h6 class="m-0 font-weight-bold" style="color: #fff;">Rekap MONEV Anggaran Investasi Non Rutin 2022</h6>
                    </div>
                    <div class="col-4 ">
                        
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th rowspan="2">Uraian</th>
                                <th colspan="2">SKAI Terbit</th>
                                <th>Realisasi</th>
                                <th rowspan="2">% Realisasi terhadap AKI</th>
                                <th rowspan="2">Sisa AKI</th>
                            </tr>
                            <tr>
                                <th>AI</th>
                                <th>AKI</th>
                                <th>AKI</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            {% for d in data_1 %}
                            <tr>
                                <td>{{d.0}}</td>
                                <td class="currency">{{d.1}}</td>
                                <td class="currency">{{d.2}}</td>
                                <td class="currency">{{d.3}}</td>
                                <td class="percentage">{{d.4|stringformat:".2f"}}</td>
                                <td class="currency">{{d.5}}</td>
                            </tr>
                            {% endfor %}
                            <tr class="tr-total">
                                <td class="total">Total</td>
                                <td class="currency total">{{data_1_total.0.0}}</td>
                                <td class="currency total">{{data_1_total.0.1}}</td>
                                <td class="currency total">{{data_1_total.0.2}}</td>
                                <td class="percentage total">{{data_1_total.0.3|stringformat:".2f"}}</td>
                                <td class="currency total">{{data_1_total.0.4}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    
    
        <div class="mb-4 shadow card">
            <div class="py-3 card-header">
                <div class="row">
                    <div class="col-8">
                        <h6 class="m-0 font-weight-bold" style="color: #fff;">AKB vs Realisasi Non Rutin Agustus 2022</h6>
                    </div>
                    <div class="col-4 ">
                        
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th rowspan="2">BPO</th>
                                <th rowspan="2">AKB</th>
                                <th rowspan="2">Realisasi</th>
                                <th rowspan="2">Rencana Bayar Minggu IV</th>
                                <th colspan="2">Selisih</th>
                            </tr>
                            <tr>
                                <th>Rp.</th>
                                <th>%</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            {% for d in data_2 %}
                            <tr>
                                <td>{{d.0}}</td>
                                <td class="currency">{{d.1}}</td>
                                <td class="currency">{{d.2}}</td>
                                <td>-</td>
                                <td class="currency">{{d.3}}</td>
                                <td class="percentage">{{d.4|stringformat:".2f"}}</td>
                            </tr>
                            {% endfor %}
                            <tr class="tr-total">
                                <td class="total">Total</td>
                                <td class="currency total">{{data_2_total.0.0}}</td>
                                <td class="currency total">{{data_2_total.0.1}}</td>
                                <td class="currency total">{{data_2_total.0.2}}</td>
                                <td class="currency total">{{data_2_total.0.3}}</td>
                                <td class="percentage total">{{data_2_total.0.4|stringformat:".2f"}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    
    
</div>
{% endblock content %}

{% block script %}
    
{% endblock script %}