{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% block style %}
<style>
    td {
        vertical-align: middle;
        text-align: center;
        color: #161616;
        
    }
</style>
{% endblock style%}

{% block content %}
<div class="container-fluid">
    <div class="mb-4 shadow card">
        <div class="py-3 card-header">
            <div class="row">
                <div class="col-8">
                    <h6 class="m-0 font-weight-bold" style="color: #fff;">Login History</h6>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Division</th>
                            <th>Login Datetime</th>
                            <th>IP Address</th>
                            <th>User Agent</th>
                            <th>City</th>
                            <th>Country</th>
                            <th>Region</th>
                            <th>Longitude</th>
                            <th>Latitude</th>
                        </tr>
                        
                    </thead>
                    <tbody>
                        {% for data in login %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{data.user.username}}</td>
                            <td>{{data.user.division}}</td>
                            <td>{{data.date}}</td>
                            <td>{{data.ip}}</td>
                            <td>{{data.user_agent}}</td>
                            <td>{{data.city}}</td>
                            <td>{{data.country}}</td>
                            <td>{{data.region}}</td>
                            <td>{{data.lon}}</td>
                            <td>{{data.lat}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block script %}
<script>
    
</script>


{% endblock script %}