<div id="modal-backdrop" class="modal-backdrop fade show" style="display:block;"></div>
<div id="modal" class="modal fade show" tabindex="-1" style="display:block;">
	<div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Edit Rencana Realisasi {{month}}</h5>
              <button type="button" class="close" onclick="closeModal()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form hx-post="{% url 'recomposition:akb-edit' %}" hx-target="#target-{{this_month}}-{{data.pk}}" hx-swap="outerHTML" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="formGroupExampleInput">No PRK</label>
                            <input type="text" class="form-control" name="prk" 
                            value="{{data.no_prk}}" disabled/>
                            <input type="hidden" name="no_prk" value={{data.no_prk}}>
                            <input type="hidden" name="this_month" value={{this_month}}>
                            <input type="hidden" name="revisi" value={{revisi}}>
                        </div>
                        {% if this_month == 0 %}
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Keterangan/Justifikasi</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="notes">{{notes}}</textarea>
                        </div>
                        {% else %}
                        <div class="form-group">
                            <label for="formGroupExampleInput">Rencana Realisasi {{month}}</label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                  <div class="input-group-text">Rp.</div>
                                </div>
                                <input type="number" class="form-control" name="value-former" value="{{value}}" disabled/>
                                <input type="hidden" name="hidden_value_former" value={{value}}>
                            </div>
                        </div>
                        {% if this_month == current_month %}
                        <div class="form-group">
                            <label for="formGroupExampleInput">Realisasi Berjalan</label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                  <div class="input-group-text">Rp.</div>
                                </div>
                                <input type="number" class="form-control" name="value-former" value="{{current_month_realisasi}}" disabled/>
                            </div>
                        </div>
                        {% endif %}
                        <div class="form-group">
                            <label for="formGroupExampleInput">Perubahan Rencana Realisasi {{month}}</label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                  <div class="input-group-text">Rp.</div>
                                </div>
                                <input type="number" class="form-control" name="value" value="{{value_draft}}"
                                hx-get="{% url 'recomposition:recomposition-onchgvalue' former_value=value %}"
                                hx-target="#onChgArea" hx-trigger="keyup" hx-swap="innerHTML"/>
                            </div>
                        </div>
                        <div id="onChgArea">
                            <p id="value-words">{{words}}</p>
                            <div class="form-group">
                                <label for="formGroupExampleInput">Selisih +/- terhadap rencana realisasi</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                    <div class="input-group-text">Rp.</div>
                                    </div>
                                    <input type="text" class="form-control" name="value-former" id="formGroupExampleInput" value="{{selisih}}" disabled/>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="form-group modal-footer p-0">
                            <div class="btn-group d-flex w-100" role="group">
                                {% if this_month != 0 %}
                                <button type="button" name="delete" hx-post="{% url 'recomposition:akb-delete' %}" hx-target="#target-{{this_month}}-{{data.pk}}" hx-swap="outerHTML" class="btn btn-danger w-100" {%if not is_month %}disabled{% endif %}>Delete changes</button>
                                {% endif %}
                                <button type="button" class="btn btn-secondary w-100" onclick="closeModal()">Close</button>
                                <button type="submit" name="save" class="btn btn-primary w-100" >Save changes</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
	    </div>
    </div>
</div>