<div id="modal-backdrop" class="modal-backdrop fade show" style="display:block;"></div>
<div id="modal" class="modal fade show" tabindex="-1" style="display:block;">
	<div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Edit Rencana Realisasi {{month}}</h5>
              <button type="button" class="close" onclick="closeModal()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form hx-post="{% url 'recomposition:akb-edit' %}" hx-target="#target-{{this_month}}-{{data.pk}}" hx-swap="outerHTML" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="formGroupExampleInput">No PRK</label>
                            <input type="text" class="form-control" name="prk" id="formGroupExampleInput" 
                            value="{{data.no_prk}}" disabled/>
                            <input type="hidden" name="no_prk" value={{data.no_prk}}>
                            <input type="hidden" name="this_month" value={{this_month}}>
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput">Rencana Realisasi {{month}}</label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                  <div class="input-group-text">Rp.</div>
                                </div>
                                <input type="number" class="form-control" name="value-former" id="formGroupExampleInput" value="{{value}}" disabled/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput">Perubahan Realisasi {{month}}</label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                  <div class="input-group-text">Rp.</div>
                                </div>
                                <input type="number" class="form-control" name="value" id="formGroupExampleInput" value="{{value}}"
                                hx-get="{% url 'recomposition:recomposition-onchgvalue' former_value=value %}"
                                hx-target="#onChgArea" hx-trigger="keyup" hx-swap="innerHTML"/>
                            </div>
                        </div>
                        <div id="onChgArea">
                            <p id="value-words">{{words}}</p>
                            <div class="form-group">
                                <label for="formGroupExampleInput">Selisih +/- terhadap rencana realisasi</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                    <div class="input-group-text">Rp.</div>
                                    </div>
                                    <input type="text" class="form-control" name="value-former" id="formGroupExampleInput" value="{{selisih}}" disabled/>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" onclick="closeModal()">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
        </div>
	</div>
</div>
