{% extends 'base.html' %}
{% load static %}

{% block style %}
<style type="text/css">
    a.disabled {
        pointer-events: none;
        cursor: default;
    }
    .timeline-steps {
        display: flex;
        justify-content: center;
        flex-wrap: wrap
    }
    
    .timeline-steps .timeline-step {
        align-items: center;
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 1rem
    }
    
    @media (min-width:768px) {
        .timeline-steps .timeline-step:not(:last-child):after {
            content: "";
            display: block;
            border-top: .25rem dotted #3b82f6;
            width: 3.46rem;
            position: absolute;
            left: 7.5rem;
            top: .3125rem
        }
        .timeline-steps .timeline-step:not(:first-child):before {
            content: "";
            display: block;
            border-top: .25rem dotted #3b82f6;
            width: 3.8125rem;
            position: absolute;
            right: 7.5rem;
            top: .3125rem
        }
    }
    
    .timeline-steps .timeline-content {
        width: 10rem;
        text-align: center
    }
    
    .timeline-steps .timeline-content .inner-circle {
        border-radius: 1.5rem;
        height: 1rem;
        width: 1rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: #3b82f6
    }
    
    .timeline-steps .timeline-content .inner-circle:before {
        content: "";
        background-color: #3b82f6;
        display: inline-block;
        height: 3rem;
        width: 3rem;
        min-width: 3rem;
        border-radius: 6.25rem;
        opacity: .5
    }

    .input-number {
        width: 120px;
        padding: 0 12px;
        vertical-align: top;
        text-align: center;
        outline: none; }

        .input-number,
        .input-number-decrement,
        .input-number-increment {
        border: 1px solid #ccc;
        height: 40px;
        user-select: none; }

        .input-number-decrement,
        .input-number-increment {
        display: inline-block;
        width: 30px;
        line-height: 38px;
        background: #f1f1f1;
        color: #444;
        text-align: center;
        font-weight: bold;
        cursor: pointer; }
        .input-number-decrement:active,
        .input-number-increment:active {
            background: #ddd; }

        .input-number-decrement {
        border-right: none;
        border-radius: 4px 0 0 4px; }

        .input-number-increment {
        border-left: none;
        border-radius: 0 4px 4px 0; }
</style>

{% endblock style%}

{% block content %}
<div class="container-fluid">

    <div class="container-fluid">

        <!-- Page Heading -->
        
        <div class="row text-center justify-content-center mb-5 d-none" id="div-0">
            <div class="col-xl-6 col-lg-8">
                <h2 class="font-weight-bold">Timeline SKAI {{doc_skai.0.year}}</h2>
                <!-- <p class="text-muted">We’re very proud of the path we’ve taken. Explore the history that made us the company we are today.</p> -->
            </div>
        </div>
    
        <div class="row d-none" id="div-1">
            <div class="col">
                <div class="timeline-steps aos-init aos-animate" data-aos="fade-up">
                    {% for doc in doc_skai %}
                    <div class="timeline-step">
                        <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2003">
                            <div class="inner-circle"></div>
                            <p class="h6 mt-3 mb-1">{{doc.document.published_date}}</p>
                            <p class="h6 text-muted mb-0 mb-lg-0 font-weight-bold" >{{doc}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row d-none" id="div-2">
            <div class="col-6">
                <button class="btn mb-3 w-100" style="background-color: #449798; color: white;" data-toggle="modal" data-target="#skaiModal">Select SKAI   <span><i class="fa-solid fa-arrow-pointer"></i></span></button>
            </div>
            <div class="col-6">
                <button id="to-hide" class="btn mb-3 w-100" style="background-color: #449798; color: white;">Hide Timeline  <span><i class="fa-solid fa-angles-up"></i></span></button>
            </div>
        </div>
        <div class="row" id="div-3">
            <div class="col-6">
                <button class="btn mb-3 w-100" style="background-color: #449798; color: white;" data-toggle="modal" data-target="#skaiModal">Select SKAI   <span><i class="fa-solid fa-arrow-pointer"></i></span></button>
            </div>
            <div class="col-6">
                <button id="to-unhide" class="btn mb-3 w-100" style="background-color: #449798; color: white;">Show Timeline  <span><i class="fa-solid fa-magnifying-glass"></i></span></button>
            </div>
        </div>
        <!-- DataTales Example -->
        <div class="mb-4 shadow card">
            <div class="py-3 card-header">
                <div class="row">
                    <div class="col">
                        <h6 class="m-0 font-weight-bold" style="color: #fff;">Daftar SKAI {{doc_skai.0.year}}</h6>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th rowspan="2">No</th>
                                <th rowspan="2">Perihal</th>
                                <th rowspan="2">Nomor Surat SKAI</th>
                                <th rowspan="2">Tanggal Terbit</th>
                                <th rowspan="2">Tahun</th>
                                <th colspan="2">File</th>
                                <th colspan="2">Action</th>
                            </tr>
                            <tr>
                                <th>PDF</th>
                                <th>Macros</th>
                                <th>Edit</th>
                                <th>Del</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for doc in doc_skai %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{doc.document.regarding}}</td>
                                <td>{{doc.document.document_number}}</td>
                                <td style="vertical-align: middle; text-align: center;">{{doc.document.published_date}}</td>
                                {% if doc.year %}
                                    <td style="vertical-align: middle; text-align: center;">{{doc.year}}</td>
                                {% else %}
                                    <td style="vertical-align: middle; text-align: center;">{{doc.revision_on.year}}</td>
                                {% endif %}
                                <td style="vertical-align: middle; text-align: center;">
                                    <span class="mr-2"><a target="_blank" rel="noopener noreferrer" href="{{doc.document.file.url}}"><i class="fa-solid fa-file-pdf"></i></a></span>
                                    <!-- <span><a target="_blank" rel="noopener noreferrer" href="{{doc.document.file.url}}" download><i class="fa-solid fa-download"></i></a></span> -->
                                </td>
                                <td style="vertical-align: middle; text-align: center;">
                                    <span class="mr-2"><a target="_blank" rel="noopener noreferrer" href="{% url 'document:doc-list-lkai' %}" class="disabled"><i class="fa-solid fa-table text-secondary"></i></a></span>
                                    <span><a target="_blank" rel="noopener noreferrer" href="#" class="disabled" download><i class="fa-solid fa-download text-secondary"></i></a></span>
                                </td>
                                <td style="vertical-align: middle; text-align: center;">
                                    <span class="mr-2"><a href="{% url 'document:doc-skai-update' doc.pk %}"><i class="fa-solid fa-pen-to-square text-warning"></i></a></span>
                                </td>
                                <td style="vertical-align: middle; text-align: center;">
                                    <span class="mr-2"><a href="{% url 'document:doc-skai-delete' doc.pk %}"><i class="fa-solid fa-trash text-danger"></i></a></span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    
</div>


<!--Modal-->
<div class="modal fade" id="skaiModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">SKAI Tahun ke-</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="POST">
            {% csrf_token %}
            <div class="modal-body">
                <select class="form-select w-100" aria-label="Default select example" name="year">
                    <option selected disabled>Pilih tahun</option>
                    {% for y in year %}
                        <option value="{{y.year}}">{{y.year}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
      </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script>
    $('#to-hide').click(function() {
        $('#div-0').addClass("d-none");
        $('#div-1').addClass("d-none");
        $('#div-2').addClass("d-none");
        $('#div-3').removeClass("d-none");
    });

    $('#to-unhide').click(function() {
        $('#div-0').removeClass("d-none");
        $('#div-1').removeClass("d-none");
        $('#div-2').removeClass("d-none");
        $('#div-3').addClass("d-none");
    });

    (function() {
 
        window.inputNumber = function(el) {

        var min = el.attr('min') || false;
        var max = el.attr('max') || false;

        var els = {};

        els.dec = el.prev();
        els.inc = el.next();

        el.each(function() {
            init($(this));
        });

        function init(el) {

            els.dec.on('click', decrement);
            els.inc.on('click', increment);

            function decrement() {
            var value = el[0].value;
            value--;
            if(!min || value >= min) {
                el[0].value = value;
            }
            }

            function increment() {
            var value = el[0].value;
            value++;
            if(!max || value <= max) {
                el[0].value = value++;
            }
            }
        }
        }
        })();

        inputNumber($('.input-number'));
</script>


{% endblock script %}