{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% block style %}
<style type="text/css">
    .hiddenRow {
        padding: 0 !important;
        border: 0px !important;
    }

    a.disabled {
        pointer-events: none;
        cursor: default;
    }
    .timeline-steps {
        display: flex;
        justify-content: center;
        flex-wrap: wrap
    }
    
    .timeline-steps .timeline-step {
        align-items: center;
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 1rem
    }
    
    @media (min-width:768px) {
        .timeline-steps .timeline-step:not(:last-child):after {
            content: "";
            display: block;
            border-top: .25rem dotted #3b82f6;
            width: 3.46rem;
            position: absolute;
            left: 7.5rem;
            top: .3125rem
        }
        .timeline-steps .timeline-step:not(:first-child):before {
            content: "";
            display: block;
            border-top: .25rem dotted #3b82f6;
            width: 3.8125rem;
            position: absolute;
            right: 7.5rem;
            top: .3125rem
        }
    }
    
    .timeline-steps .timeline-content {
        width: 10rem;
        text-align: center
    }
    
    .timeline-steps .timeline-content .inner-circle {
        border-radius: 1.5rem;
        height: 1rem;
        width: 1rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: #3b82f6
    }
    
    .timeline-steps .timeline-content .inner-circle:before {
        content: "";
        background-color: #3b82f6;
        display: inline-block;
        height: 3rem;
        width: 3rem;
        min-width: 3rem;
        border-radius: 6.25rem;
        opacity: .5
    }

    .input-number {
        width: 120px;
        padding: 0 12px;
        vertical-align: top;
        text-align: center;
        outline: none; }

        .input-number,
        .input-number-decrement,
        .input-number-increment {
        border: 1px solid #ccc;
        height: 40px;
        user-select: none; }

        .input-number-decrement,
        .input-number-increment {
        display: inline-block;
        width: 30px;
        line-height: 38px;
        background: #f1f1f1;
        color: #444;
        text-align: center;
        font-weight: bold;
        cursor: pointer; }
        .input-number-decrement:active,
        .input-number-increment:active {
            background: #ddd; }

        .input-number-decrement {
        border-right: none;
        border-radius: 4px 0 0 4px; }

        .input-number-increment {
        border-left: none;
        border-radius: 0 4px 4px 0; }
</style>

{% endblock style%}

{% block content %}
<div class="container-fluid">

    <div class="container-fluid">
        <!-- DataTales Example -->
        <div class="mb-4 shadow card">
            <div class="py-3 card-header">
                <div class="row">
                    <div class="col-8">
                        <h6 class="m-0 font-weight-bold" style="color: #fff;">Daftar SKAI {{skai_verb}} {{the_year}}</h6>
                    </div>
                    <div class="col-4 ">
                        <button class="btn btn-info btn-icon-split btn-sm float-right" data-toggle="modal" data-target="#skaiModal">
                            <span class="icon text-white-50">
                                <i class="fa-solid fa-arrow-pointer"></i>
                            </span>
                            <span class="text">SKAI Tahun</span>
                        </button>
                        <a href="{% url 'document:doc-upload-skai' %}" class="btn btn-success btn-icon-split btn-sm float-right mr-1">
                            <span class="icon text-white-50">
                                <i class="fa-solid fa-file-arrow-up"></i>
                            </span>
                            <span class="text">Upload SKAI</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th rowspan="2">No</th>
                                <th rowspan="2">Perihal</th>
                                <th rowspan="2">Nomor Surat SKAI</th>
                                <th rowspan="2">Tanggal Terbit</th>
                                <th rowspan="2">Tahun</th>
                                <th colspan="2">File</th>
                                <th colspan="2">Action</th>
                            </tr>
                            <tr>
                                <th>PDF</th>
                                <th>LKAI</th>
                                <th>Edit</th>
                                <th>Del</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for doc in doc_skai %}
                            <tr data-toggle="collapse" data-target="#demo-1-{{doc.pk}}" class="accordion-toggle">
                                <td>{{forloop.counter}}</td>
                                <td>{{doc.document.regarding}}</td>
                                <td>{{doc.document.document_number}}</td>
                                <td style="vertical-align: middle; text-align: center;">{{doc.document.published_date}}</td>
                                {% if doc.year %}
                                    <td style="vertical-align: middle; text-align: center;">{{doc.year}}</td>
                                {% else %}
                                    <td style="vertical-align: middle; text-align: center;">{{doc.revision_on.year}}</td>
                                {% endif %}
                                <td style="vertical-align: middle; text-align: center;">
                                    <span class="mr-2"><a target="_blank" rel="noopener noreferrer" href="{{doc.document.file.url}}"><i class="fa-solid fa-file-pdf"></i></a></span>
                                </td>
                                <td style="vertical-align: middle; text-align: center;">
                                    <span class="mr-2"><a href="{% url 'document:doc-view-lkai' doc.pk %}"><i class="fa-solid fa-table text-success"></i></a></span>
                                </td>
                                <td style="vertical-align: middle; text-align: center;">
                                    <span class="mr-2"><a href="{% url 'document:doc-skai-update' doc.pk %}"><i class="fa-solid fa-pen-to-square text-warning"></i></a></span>
                                </td>
                                <td style="vertical-align: middle; text-align: center;">
                                    <span class="mr-2"><a href="{% url 'document:doc-skai-delete' doc.pk %}"><i class="fa-solid fa-trash text-danger"></i></a></span>
                                </td>
                            </tr>
                            <tr style="border: none;">
                                <td class="hiddenRow"></td>
                                <td colspan="3" class="hiddenRow"><div id="demo-1-{{doc.pk}}" class="accordian-body collapse">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                            <th style="border: 1px solid #e3e6f0 !important;">Di Upload</th>
                                            <td style="border: 1px solid #e3e6f0 !important;">{{doc.document.uploader.name}}</td>
                                            </tr>
                                            <tr>
                                            <th style="border: 1px solid #e3e6f0 !important;">Tanggal Upload</th>
                                            <td style="border: 1px solid #e3e6f0 !important;">{{doc.document.upload_date}} ({{doc.document.upload_date|naturaltime}})</td>
                                            </tr>
                                            <tr>
                                            <th style="border: 1px solid #e3e6f0 !important;">PDF File Size</th>
                                            <td style="border: 1px solid #e3e6f0 !important;">{{doc.document.file.name}}</td>
                                            </tr>
                                            <tr>
                                            <th style="border: 1px solid #e3e6f0 !important;">Macros File Size</th>
                                            <td style="border: 1px solid #e3e6f0 !important;">0</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div></td>
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</div>


<!--Modal-->
<div class="modal fade" id="skaiModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">SKAI Tahun ke-</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="POST">
            {% csrf_token %}
            <div class="modal-body">
                <select class="form-select w-100" aria-label="Default select example" name="year">
                    <option selected disabled>Pilih tahun</option>
                    {% for y in year %}
                        <option value="{{y.year}}">{{y.year}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
      </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script>
    $('#to-hide').click(function() {
        $('#div-0').addClass("d-none");
        $('#div-1').addClass("d-none");
        $('#div-2').addClass("d-none");
        $('#div-3').removeClass("d-none");
    });

    $('#to-unhide').click(function() {
        $('#div-0').removeClass("d-none");
        $('#div-1').removeClass("d-none");
        $('#div-2').removeClass("d-none");
        $('#div-3').addClass("d-none");
    });

    (function() {
 
        window.inputNumber = function(el) {

        var min = el.attr('min') || false;
        var max = el.attr('max') || false;

        var els = {};

        els.dec = el.prev();
        els.inc = el.next();

        el.each(function() {
            init($(this));
        });

        function init(el) {

            els.dec.on('click', decrement);
            els.inc.on('click', increment);

            function decrement() {
            var value = el[0].value;
            value--;
            if(!min || value >= min) {
                el[0].value = value;
            }
            }

            function increment() {
            var value = el[0].value;
            value++;
            if(!max || value <= max) {
                el[0].value = value++;
            }
            }
        }
        }
        })();

        inputNumber($('.input-number'));
</script>


{% endblock script %}