{% extends 'base.html' %}

{% block content %}
<div class="container">
    
    <div class="mb-4 shadow card">
        <div class="py-3 card-header">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="{% url 'document:doc-list-skai' %}" class="btn btn-light">Kembali ke daftar SKAI</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row justify-content-center mt-5">
                <div class="col-md-5 col-sm-12">
                    <h5>Are You Sure?</h5>
                    <p>You are about to delete this document, this cannot be undone.</p>
                    <form method="POST">
                        {% csrf_token %}
                        <div Sclass="d-grid gap-2">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %} 