{% extends 'base.html' %}
{% load static %}
{% load document_tags %}
{% load mathfilters %}

{% block style %}

<style>
    td {
        vertical-align: middle;
        text-align: center;
        color: #161616;
    }

    .cell-disabled{
        background-color: #CFD2CF;
        opacity: 0.1;
    }

    .currency{
        text-align: right !important;
        min-width: 160px;
    }

    .currency::before{
        content: "Rp.";
        float: left;
        padding-right: 4px;
    }

    .error-li{
        font-weight: 600;
        color: firebrick;
    }

    .info{
        border-style: dashed;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-bottom: 5px;
    }

    .edited{
        background-color: #F8F3D4;
    }
    .plus{
        background-color: #11999E;
    }
    .minus{
        background-color: #E84545;
    }
    .sum-cell{
        background-color: #222831;
        color: #FCFCFC;
        text-align: center !important;
    }
    .cell{
        min-width: 150px;
    }
    .past{
        background-color: #2B2E4A;
        color: #FFFFDE;
    }
    .current{
        background-color: #FFFFDE;
        color: #100720;
    }
    .future{
        background-color: #40514E;
        color: #FFFFDE;
    }

    .mou{
        background-color: blanchedalmond !important;
    }

    .copy_container{
        display: flex;
        justify-content: space-between;
        top: 0px;
        left: 0px;
        /* width: 240px; */
        padding: 2px 2px;
        font-size: 18px;
        color: #161616;
        border-radius: 8px 8px 0 0;
        cursor: pointer;
    }

    .copy{
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        opacity: 0.6;
        transition: all 0.1s ease;
    }

    .tooltip{
        position: absolute;
        top: 30px;
        left: -30px;
        background: #161616;
        padding: 10px 15px;
        display: flex;
        justify-content: center;
        color: #fff;
        font-size: 14px;
        border-radius: 4px;
        letter-spacing: 1px;
        opacity: 0;
    }

    .tooltip.appear {
        animation: appear 1s ease;
    }

    @keyframes appear {
        0% {
            opacity: 0;
        }
        20% {
            transform: translateY(10px);
            opacity: 1;
        }
        80% {
            transform: translateY(0px);
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
</style>
{% endblock style%}

{% block content %}
<div class="container-fluid">
    <div class="mb-4 shadow card">
        <div class="py-3 card-header">
            <div class="row">
                <div class="col-8">
                    <h6 class="m-0 font-weight-bold" style="color: #fff;">Output E-Budget</h6>
                </div>
                <div class="col-4 ">
                    <!-- <form hx-post="{% url 'recomposition:recomposition-output' %}" hx-swap="innerHTML"> {% csrf_token %}
                        <button class="btn btn-info btn-icon-split btn-sm float-right" name="xls" value="xls">
                            <span class="icon text-white-50">
                                <i class="fa-solid fa-arrow-pointer"></i>
                            </span>
                            <span class="text">Download XLS</span>
                        </button>
                    </form> -->
                    <a href="{% url 'recomposition:ebudget-output' %}" class="btn btn-info btn-icon-split btn-sm float-right" target="_blank" rel="noopener noreferrer">
                        <span class="icon text-white-50">
                            <i class="fa-solid fa-arrow-pointer"></i>
                        </span>
                        <span class="text">Download File</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTableMonev" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th rowspan="2">No</th>
                            <th rowspan="2">No PRK</th>
                            <th rowspan="2">Program Utama/Proyek</th>
                            <th rowspan="2">Uraian</th>
                            <th rowspan="2">Status</th>
                            <th rowspan="2">Sumber Dana</th>
                            <th rowspan="2">NO BA Komite</th>
                            <th rowspan="2" style="min-width: 100px;">AI Tahun 2022</th> <!-- MANUAL -->
                            <th rowspan="2" style="min-width: 100px;">AKI Tahun 2022</th>
                            <th rowspan="2" style="min-width: 100px;">AKI Tahun 2023</th>
                            <th rowspan="2" style="min-width: 100px;">AKI Tahun 2024</th>
                            <th rowspan="2" style="min-width: 100px;">AKI Tahun 2025</th>
                            <th rowspan="2" style="min-width: 100px;">AKI Tahun 2026</th>
                            <th rowspan="2" style="min-width: 100px;">AKI Setelah Tahun 2026</th>
                            <th colspan="2">Januari</th>
                            <th colspan="2">Februari</th>
                            <th colspan="2">Maret</th>
                            <th colspan="2">April</th>
                            <th colspan="2">Mei</th>
                            <th colspan="2">Juni</th>
                            <th colspan="2">Juli</th>
                            <th colspan="2">Agustus</th>
                            <th colspan="2">September</th>
                            <th colspan="2">Oktober</th>
                            <th colspan="2">November</th>
                            <th colspan="2">Desember</th>
                            <th rowspan="2">AKI Rekomposisi Tahun</th>
                            <th rowspan="2">AKI yang belum diterbitkan</th>
                            <th rowspan="2">Total AKI Rekomposisi</th>
                            <th rowspan="2">AKI Sebelum Rekomposisi</th>
                            <th rowspan="2">Tambah Kurang</th>
                        </tr>
                        <tr>
                            <th>Progress Fisik (%)</th>
                            <th style="min-width: 100px;">
                                {% if 1 < month %}
                                Realisasi Disburse
                                {% else %}
                                Rencana Disburse
                                {% endif %}
                            </th>
                            <th>Progress Fisik (%)</th>
                            <th style="min-width: 100px;">
                                {% if 2 < month %}
                                Realisasi Disburse
                                {% else %}
                                Rencana Disburse
                                {% endif %}
                            </th>
                            <th>Progress Fisik (%)</th>
                            <th style="min-width: 100px;">
                                {% if 3 < month %}
                                Realisasi Disburse
                                {% else %}
                                Rencana Disburse
                                {% endif %}
                            </th>
                            <th>Progress Fisik (%)</th>
                            <th style="min-width: 100px;">
                                {% if 4 < month %}
                                Realisasi Disburse
                                {% else %}
                                Rencana Disburse
                                {% endif %}
                            </th>
                            <th>Progress Fisik (%)</th>
                            <th style="min-width: 100px;">
                                {% if 5 < month %}
                                Realisasi Disburse
                                {% else %}
                                Rencana Disburse
                                {% endif %}
                            </th>
                            <th>Progress Fisik (%)</th>
                            <th style="min-width: 100px;">
                                {% if 6 < month %}
                                Realisasi Disburse
                                {% else %}
                                Rencana Disburse
                                {% endif %}
                            </th>
                            <th>Progress Fisik (%)</th>
                            <th style="min-width: 100px;">
                                {% if 7 < month %}
                                Realisasi Disburse
                                {% else %}
                                Rencana Disburse
                                {% endif %}
                            </th>
                            <th>Progress Fisik (%)</th>
                            <th style="min-width: 100px;">
                                {% if 8 < month %}
                                Realisasi Disburse
                                {% else %}
                                Rencana Disburse
                                {% endif %}
                            </th>
                            <th>Progress Fisik (%)</th>
                            <th style="min-width: 100px;">
                                {% if 9 < month %}
                                Realisasi Disburse
                                {% else %}
                                Rencana Disburse
                                {% endif %}
                            </th>
                            <th>Progress Fisik (%)</th>
                            <th style="min-width: 100px;">
                                {% if 10 < month %}
                                Realisasi Disburse
                                {% else %}
                                Rencana Disburse
                                {% endif %}
                            </th>
                            <th>Progress Fisik (%)</th>
                            <th style="min-width: 100px;">
                                {% if 11 < month %}
                                Realisasi Disburse
                                {% else %}
                                Rencana Disburse
                                {% endif %}
                            </th>
                            <th>Progress Fisik (%)</th>
                            <th style="min-width: 100px;">
                                {% if 12 < month %}
                                Realisasi Disburse
                                {% else %}
                                Rencana Disburse
                                {% endif %}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in all_data %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ data.0.prk.no_prk }}</td>
                            <td style="min-width: 165px; text-align: justify;">{{ data.0.prk.program_utama }}</td>
                            <td style="min-width: 330px; text-align: justify;">{{ data.0.prk.keg_uraian }}</td>
                            <td>{{ data.0.status }}</td>
                            <td>{{ data.0.sumber_dana }}</td>
                            <td></td>
                            <td>{{ data.0.real_ai_in_1000 }}</td>
                            <td>{{ data.0.real_aki_in_1000 }}</td>
                            <td>{{ data.0.aki_n1|floatformat }}</td>
                            <td>{{ data.0.aki_n2|floatformat }}</td>
                            <td>{{ data.0.aki_n3|floatformat }}</td>
                            <td>{{ data.0.aki_n4|floatformat }}</td>
                            <td>{{ data.0.aki_after_n1|floatformat }}</td>

                            {% call_method data.0 'get_rencana_month_in_1000' 1 as rencana_1 %}
                            {% call_method data.0 'get_rencana_month_in_1000' 2 as rencana_2 %}
                            {% call_method data.0 'get_rencana_month_in_1000' 3 as rencana_3 %}
                            {% call_method data.0 'get_rencana_month_in_1000' 4 as rencana_4 %}
                            {% call_method data.0 'get_rencana_month_in_1000' 5 as rencana_5 %}
                            {% call_method data.0 'get_rencana_month_in_1000' 6 as rencana_6 %}
                            {% call_method data.0 'get_rencana_month_in_1000' 7 as rencana_7 %}
                            {% call_method data.0 'get_rencana_month_in_1000' 8 as rencana_8 %}
                            {% call_method data.0 'get_rencana_month_in_1000' 9 as rencana_9 %}
                            {% call_method data.0 'get_rencana_month_in_1000' 10 as rencana_10 %}
                            {% call_method data.0 'get_rencana_month_in_1000' 11 as rencana_11 %}
                            {% call_method data.0 'get_rencana_month_in_1000' 12 as rencana_12 %}

                            {% call_method data.0 'get_realisasi_month_in_1000' 1 as realisasi_1 %}
                            {% call_method data.0 'get_realisasi_month_in_1000' 2 as realisasi_2 %}
                            {% call_method data.0 'get_realisasi_month_in_1000' 3 as realisasi_3 %}
                            {% call_method data.0 'get_realisasi_month_in_1000' 4 as realisasi_4 %}
                            {% call_method data.0 'get_realisasi_month_in_1000' 5 as realisasi_5 %}
                            {% call_method data.0 'get_realisasi_month_in_1000' 6 as realisasi_6 %}
                            {% call_method data.0 'get_realisasi_month_in_1000' 7 as realisasi_7 %}
                            {% call_method data.0 'get_realisasi_month_in_1000' 8 as realisasi_8 %}
                            {% call_method data.0 'get_realisasi_month_in_1000' 9 as realisasi_9 %}
                            {% call_method data.0 'get_realisasi_month_in_1000' 10 as realisasi_10 %}
                            {% call_method data.0 'get_realisasi_month_in_1000' 11 as realisasi_11 %}
                            {% call_method data.0 'get_realisasi_month_in_1000' 12 as realisasi_12 %}

                            <td></td>
                            {% if data.1.jan %}
                                <td>{{data.1.jan}}</td>
                            {% else %}
                                {% if month > 1 %} <!-- IF PAST THE MONTH THEN ONLY SHOW REALISASI-->
                                    {% if realisasi_1 == "0" or realisasi_1 == "0.0" %}
                                        <td class="cell"> 0 </td>
                                    {% else %}
                                        <td class="cell">{{realisasi_1|floatformat}}</td>
                                    {% endif %}
                                {% else %} <!-- IF NOT SHOW RENCANA -->
                                    {% if rencana_1 == "0" or rencana_1 == "0.0" %}
                                        <td> 0 </td>
                                    {% else %}
                                        <td>{{rencana_1|floatformat}}</td>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            <td></td>
                            {% if data.1.feb %}
                                <td>{{data.1.feb}}</td>
                            {% else %}
                                {% if month > 2 %} <!-- IF PAST THE MONTH THEN ONLY SHOW REALISASI-->
                                    {% if realisasi_2 == "0" or realisasi_2 == "0.0" %}
                                        <td class="cell"> 0 </td>
                                    {% else %}
                                        <td class="cell">{{realisasi_2|floatformat}}</td>
                                    {% endif %}
                                {% else %} <!-- IF NOT SHOW RENCANA -->
                                    {% if rencana_2 == "0" or rencana_2 == "0.0" %}
                                        <td> 0 </td>
                                    {% else %}
                                        <td>{{rencana_2|floatformat}}</td>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            <td></td>
                            {% if data.1.mar %}
                                <td>{{data.1.mar}}</td>
                            {% else %}
                                {% if month > 3 %} <!-- IF PAST THE MONTH THEN ONLY SHOW REALISASI-->
                                    {% if realisasi_3 == "0" or realisasi_3 == "0.0" %}
                                        <td class="cell"> 0 </td>
                                    {% else %}
                                        <td class="cell">{{realisasi_3|floatformat}}</td>
                                    {% endif %}
                                {% else %} <!-- IF NOT SHOW RENCANA -->
                                    {% if rencana_3 == "0" or rencana_3 == "0.0" %}
                                        <td> 0 </td>
                                    {% else %}
                                        <td>{{rencana_3|floatformat}}</td>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            <td></td>
                            {% if data.1.apr %}
                                <td>{{data.1.apr}}</td>
                            {% else %}
                                {% if month > 4 %} <!-- IF PAST THE MONTH THEN ONLY SHOW REALISASI-->
                                    {% if realisasi_4 == "0" or realisasi_4 == "0.0" %}
                                        <td class="cell"> 0 </td>
                                    {% else %}
                                        <td class="cell">{{realisasi_4|floatformat}}</td>
                                    {% endif %}
                                {% else %} <!-- IF NOT SHOW RENCANA -->
                                    {% if rencana_4 == "0" or rencana_4 == "0.0" %}
                                        <td> 0 </td>
                                    {% else %}
                                        <td>{{rencana_4|floatformat}}</td>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            <td></td>
                            {% if data.1.mei %}
                                <td>{{data.1.mei}}</td>
                            {% else %}
                                {% if month > 5 %} <!-- IF PAST THE MONTH THEN ONLY SHOW REALISASI-->
                                    {% if realisasi_5 == "0" or realisasi_5 == "0.0" %}
                                        <td class="cell"> 0 </td>
                                    {% else %}
                                        <td class="cell">{{realisasi_5|floatformat}}</td>
                                    {% endif %}
                                {% else %} <!-- IF NOT SHOW RENCANA -->
                                    {% if rencana_5 == "0" or rencana_5 == "0.0" %}
                                        <td> 0 </td>
                                    {% else %}
                                        <td>{{rencana_5|floatformat}}</td>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            <td></td>
                            {% if data.1.jun %}
                                <td>{{data.1.jun}}</td>
                            {% else %}
                                {% if month > 6 %} <!-- IF PAST THE MONTH THEN ONLY SHOW REALISASI-->
                                    {% if realisasi_6 == "0" or realisasi_6 == "0.0" %}
                                        <td class="cell"> 0 </td>
                                    {% else %}
                                        <td class="cell">{{realisasi_6|floatformat}}</td>
                                    {% endif %}
                                {% else %} <!-- IF NOT SHOW RENCANA -->
                                    {% if rencana_6 == "0" or rencana_6 == "0.0" %}
                                        <td> 0 </td>
                                    {% else %}
                                        <td>{{rencana_6|floatformat}}</td>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            <td></td>
                            {% if data.1.jul %}
                                <td>{{data.1.jul}}</td>
                            {% else %}
                                {% if month > 7 %} <!-- IF PAST THE MONTH THEN ONLY SHOW REALISASI-->
                                    {% if realisasi_7 == "0" or realisasi_7 == "0.0" %}
                                        <td class="cell"> 0 </td>
                                    {% else %}
                                        <td class="cell">{{realisasi_7|floatformat}}</td>
                                    {% endif %}
                                {% else %} <!-- IF NOT SHOW RENCANA -->
                                    {% if rencana_7 == "0" or rencana_7 == "0.0" %}
                                        <td> 0 </td>
                                    {% else %}
                                        <td>{{rencana_7|floatformat}}</td>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            <td></td>
                            {% if data.1.aug %}
                                <td>{{data.1.aug}}</td>
                            {% else %}
                                {% if month > 8 %} <!-- IF PAST THE MONTH THEN ONLY SHOW REALISASI-->
                                    {% if realisasi_8 == "0" or realisasi_8 == "0.0" %}
                                        <td class="cell"> 0 </td>
                                    {% else %}
                                        <td class="cell">{{realisasi_8|floatformat}}</td>
                                    {% endif %}
                                {% else %} <!-- IF NOT SHOW RENCANA -->
                                    {% if rencana_8 == "0" or rencana_8 == "0.0" %}
                                        <td> 0 </td>
                                    {% else %}
                                        <td>{{rencana_8|floatformat}}</td>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            <td></td>
                            {% if data.1.sep %}
                                <td>{{data.1.sep}}</td>
                            {% else %}
                                {% if month > 9 %} <!-- IF PAST THE MONTH THEN ONLY SHOW REALISASI-->
                                    {% if realisasi_9 == "0" or realisasi_9 == "0.0" %}
                                        <td class="cell"> 0 </td>
                                    {% else %}
                                        <td class="cell">{{realisasi_9|floatformat}}</td>
                                    {% endif %}
                                {% else %} <!-- IF NOT SHOW RENCANA -->
                                    {% if rencana_9 == "0" or rencana_9 == "0.0" %}
                                        <td> 0 </td>
                                    {% else %}
                                        <td>{{rencana_9|floatformat}}</td>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            <td></td>
                            {% if data.1.okt %}
                                <td>{{data.1.okt}}</td>
                            {% else %}
                                {% if month > 10 %} <!-- IF PAST THE MONTH THEN ONLY SHOW REALISASI-->
                                    {% if realisasi_10 == "0" or realisasi_10 == "0.0" %}
                                        <td class="cell"> 0 </td>
                                    {% else %}
                                        <td class="cell">{{realisasi_10|floatformat}}</td>
                                    {% endif %}
                                {% else %} <!-- IF NOT SHOW RENCANA -->
                                    {% if rencana_10 == "0" or rencana_10 == "0.0" %}
                                        <td> 0 </td>
                                    {% else %}
                                        <td>{{rencana_10|floatformat}}</td>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            <td></td>
                            {% if data.1.nov %}
                                <td>{{data.1.nov}}</td>
                            {% else %}
                                {% if month > 11 %} <!-- IF PAST THE MONTH THEN ONLY SHOW REALISASI-->
                                    {% if realisasi_11 == "0" or realisasi_11 == "0.0" %}
                                        <td class="cell"> 0 </td>
                                    {% else %}
                                        <td class="cell">{{realisasi_11|floatformat}}</td>
                                    {% endif %}
                                {% else %} <!-- IF NOT SHOW RENCANA -->
                                    {% if rencana_11 == "0" or rencana_11 == "0.0" %}
                                        <td> 0 </td>
                                    {% else %}
                                        <td>{{rencana_11|floatformat}}</td>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            <td></td>
                            {% if data.1.des %}
                                <td>{{data.1.des}}</td>
                            {% else %}
                                {% if month > 12 %} <!-- IF PAST THE MONTH THEN ONLY SHOW REALISASI-->
                                    {% if realisasi_12 == "0" or realisasi_12 == "0.0" %}
                                        <td class="cell"> 0 </td>
                                    {% else %}
                                        <td class="cell">{{realisasi_12|floatformat}}</td>
                                    {% endif %}
                                {% else %} <!-- IF NOT SHOW RENCANA -->
                                    {% if rencana_12 == "0" or rencana_12 == "0.0" %}
                                        <td> 0 </td>
                                    {% else %}
                                        <td>{{rencana_12|floatformat}}</td>
                                    {% endif %}
                                {% endif %}
                            {% endif %}

                            <td>{{ data.5 }}</td>
                            <td>{{ data.6 }}</td>

                            {% if data.4 %}
                            <td>{{ data.2 }}</td>
                            {% else %}
                            <td>{{ data.0.real_aki }}</td>
                            {% endif %}

                            <td>{{ data.0.real_aki }}</td>
                            <td>{{ data.3 }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="modals-here"></div>

  
{% endblock content %}

{% block script %}

<script>
    $(document).ready(function () {
        
        var table = $('#dataTableMonev').DataTable({
            scrollY: 600,
            scrollX: true,
            scrollCollapse: true,
            paging: true,
            keys: true,
            dom: 'BQlfrtip',
            fixedColumns:{
                leftColumns: 2
            },
        });
        
    });

    $(function() {
        // Check the initial Poistion of the Sticky Header
        var stickyHeaderTop = $('#dataTableMonev').offset().top;
        $(window).scroll(function() {
            if ($(window).scrollTop() > stickyHeaderTop) {
                $('.dataTables_scrollHead, .DTFC_LeftHeadWrapper').css('transform', 'translateY(0%)');
                $('.DTFC_LeftHeadWrapper').css({position: 'fixed',top: '0px',zIndex: '1',left: 'auto'});
                $('.dataTables_scrollHead').css({position: 'fixed',top: '0px', zIndex: '1' });
                $('.DTFC_ScrollWrapper').css({height: ''});
            }
            else {
                $('.DTFC_LeftHeadWrapper, .DTFC_LeftHeadWrapper').css({position: 'relative',top: '0px'});
                $('.dataTables_scrollHead').css({position: 'relative', top: '0px'});
                $('.dataTables_scrollHead').css('transform', 'translateY(0%)');
            }

        });
    });
</script>

<script>
    function closeModal() {
        var container = document.getElementById("modals-here")
        console.log(container)
        var backdrop = document.getElementById("modal-backdrop")
        var modal = document.getElementById("modal")

        modal.classList.remove("show")
        backdrop.classList.remove("show")

        setTimeout(function() {
            container.removeChild(backdrop)
            container.removeChild(modal)
        }, 200)
    }

    htmx.on("htmx:beforeSwap", (e) => {
        // Empty response not targeting #onChgArea => hide the modal
        if (e.detail.target.id != "onChgArea") {
            closeModal()
            e.detail.shouldSwap = false
        }
    })

    htmx.on("htmx:afterSwap", (e) => {
        // Empty response not targeting #onChgArea => hide the modal
        console.log("After Swap")
        if (e.detail.target.id != "onChgArea") {
            console.log("not onchanged")
            console.log(e.detail.requestConfig)
            console.log(e.detail.requestConfig.triggeringEvent.submitter.name)
            if (e.detail.requestConfig.triggeringEvent.submitter.name == "delete"){
                htmx.removeClass(htmx.find('#'+e.detail.target.id), 'edited', 1000);
            }else{
                htmx.addClass(htmx.find('#'+e.detail.target.id), 'edited', 1000);
            }
            
        }
    })

    $("[id^=copy-").on("click", function(e){
        e.preventDefault();

        //find the number of the parent
        let num = $(this).parent().attr("id").slice("id-".length);
        //let elem = $("#id-" + num);
        let elem = document.getElementById("id-"+num);
        
        //copy the text
        let $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(elem).children(":first").text()).select();
        document.execCommand("copy");
        
        $temp.remove();

        $(this).children(".tooltip").addClass("appear").delay(1000).queue(function( next ){
            $(this).removeClass("appear"); 
            $(this).dequeue();
        });
    });
</script>
{% endblock script %}